ML_Engineer/Pytorch/solution_saswat/sobel/data/cifar-10-python.tar.gz filter=lfs diff=lfs merge=lfs -text
ML_Engineer/Pytorch/solution_saswat/sobel/data/cifar-10-batches-py filter=lfs diff=lfs merge=lfs -text
